/* vista PC */
.home-anillos-pc {}
.container-div{
    background-color: #ddd6d0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.con-elements{
    display: flex;
    width: 90%;
    height: 600px;
}
.con-left{
    background-color: white;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 30px;
    width: 50%;
}
.img-anillo{
    height: 600px;
    width: 100%;
    object-fit: cover;
}
.con-right{
    width: 50%;
}

@media (min-width:769px) {
    /* .home-anillos-mobile {
        display: none;
    } */

}

/* vista mobile */
@media (max-width: 768px) {

    .home-anillos-pc {
        display: none;
    }

    /* .home-anillos-mobile {
        display: block;
        
    } */
}