/* 
desktop-only container-anillos-brown
con-anillos-left
btn-home-anillos
title
carousel slide

*/
/* vista PC */

@media (min-width:769px) {
    /* .home-anillos-mobile {
        display: none;
    } */
}

/* vista mobile */
@media (max-width: 768px) {

    .image {
        max-height: 300px;
        margin-bottom: 20px;
    }

    /* .home-anillos-mobile {
        display: block;
        
    } */
}