@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    padding-top: 100px;
}

.pink {
    background-color: rgb(187, 0, 178);
}

.shadow-img {
    filter: drop-shadow(0, 0, 10px rgba(0, 0, 0.0.8));
}

.title {
    font-family: 'Bodoni Moda';
    font-size: 3em;
    font-weight: lighter;
    /* letter-spacing: 5px; */
}

.title-promocion {
    font-size: 2.5em !important;
    font-weight: lighter;
    color: white;
    /* margin: 0 auto; */
    font-family: 'Bodoni Moda';
}

.link {
    color: #000 !important;
    text-decoration: none !important;
    transition: 0.5s;
}

.link:hover {
    color: #fff !important;
    transition: 0.5s;

}

.text-about {
    font-size: 1.5rem !important;
    padding: 0 20px;
    text-align: justify;
}

.descripcion-promocion {
    margin-bottom: 10px !important;
    font-size: 1.5rem !important;
    color: white;
}
.btn-home-anillos{
    background-color: #E7D7C9;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.8s;
}
.btn-home-anillos:hover{
    background-color: #cbbdaf;
    transition: 0.8s;

}
.btn-outline-call {
    background-color: #E7D7C9;
    padding: 20px 50px;
    text-decoration: none;
    color: black;
    border: 1px solid #E7D7C9;
    border-radius: 5px;
    transition: 0.5s;
    /* margin: 0 auto; */
}

.btn-call {
    background-color: #E7D7C9;
    padding: 20px 50px;
    text-decoration: none;
    color: black;
    border: 1px solid #E7D7C9;
    margin-top: 2400px !important;
    transition: 0.5s;
}

.btn-outline-call:hover {
    background-color: #d5c3b2;
    border: 1px solid #d5c3b2;

}

.btn-call:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.text-brown {
    color: #938E87;
}

.swiper-slide {
    height: 100vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination {
    position: absolute !important;
    bottom: 10px !important;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.category-image {
    transition: opacity 0.5s ease-in-out;
}

.category-card:hover .category-image {
    opacity: 0.8;
}

.category-button {
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.category-card:hover .category-button {
    transform: scale(1.1);
}

.modal {
    position: fixed !important;
    z-index: 1050 !important;
}

.title-categories {
    font-family: 'Bodoni Moda';
    font-size: 3em;
    font-weight: lighter;
    margin: 80px 0;
}

.btn-shadow {
    transition: 0.8s;
}

.btn-shadow:hover {
    box-shadow: 0 8px 8px 0 rgb(220, 220, 220);
    transition: 0.8s;
}

.container-carousel {
    max-width: 100%;
    max-height: 350px;
}

.container-carousel .carousel-item img {
    max-height: 350px;
    object-fit: cover;
}

.title-modal {
    font-size: 2rem !important;
    font-weight: lighter;
    /* font-family: 'bodar'; */
}

.category-card {
    margin: 15px !important;
    width: 300px !important;
}

.category-container {
    width: auto;
    margin: auto 20px !important;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}

.container-anillos {
    width: 100%;
    background-color: #E7D7C9;
    padding: 100px !important;
}

.con-anillos-left {
    height: 800px !important;
    background-color: #fff !important;
}

.mobile-only {}

.desktop-only {
    width: 100%;
}

.container-anillos-brown {
    background-color: #EDE9E3 !important;
    padding: 100px !important;
}

.promocion-title {
    font-family: 'bodar' !important;
}

.container-carousel {}

.desktop-header {}

/* vista PC */
@media (min-width:769px) {
    .navbar-desktop {
        display: block !important;
    }

    .navbar-mobile {
        display: none !important;
    }

    .mobile-only {
        display: none;
    }

    .footer-mobile {
        display: none;
    }

    .footer-desktop {
        display: block;
    }

    .desktop-only {
        display: block;
    }

    .home-medallones-mobile {
        display: none;
    }

    .desktop-medallones-only {
        display: block;
    }

    .home-anillos-mobile {
        display: none;
    }

    .header-mobile {
        display: none;
    }
}

/* vista movil */
@media (max-width: 768px) {
    .navbar-desktop {
        display: none !important;
    }

    .navbar-mobile {
        display: block !important;
        height: 80px;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    .home-anillos-mobile {
        display: block;
        /* height: 500px; */

    }

    .btn-hero-mobile {
        background-color: #d9baa8;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

    .text-about {
        text-align: center;
    }

    .text-brown {
        text-align: center;
    }

    .swiper-pagination {
        bottom: 5px !important;
    }

    .btn-call {}

    .title {
        font-size: 2rem;
        margin-top: 20px;
    }

    .title-categories {
        font-size: 1.7rem;  
        margin: 50px 0;
    }

    .image {
        max-height: 300px;
        margin-bottom: 20px;
    }

    .mobile-only {
        display: block;
    }

    .container-anillos {
        background-color: #E7D7C9;
    }


    .desktop-only {
        display: none;
    }

    .desktop-medallones-only {
        display: none !important;
    }

    .category-card {
        margin: 0 !important;
        width: 300px !important;
    }

    .category-container {
        width: auto;
        margin: auto 20px !important;
        /* background-color: blue; */
        display: flex;
        justify-content: center;
    }

    .container-anillos-brown {
        background-color: #fff !important;
        padding: 0 !important;
    }

    .con-anillos-left {
        height: auto !important;
        background-color: #fff !important;
    }

    .promo-con {
        height: 100% !important;
    }


    .home-anillos-container {
        height: 400px;
        background-color: #E7D7C9;
        padding: 0 20px;
    }

    .home-anillos-home-imagen {
        height: 200px;
        object-fit: contain;
        margin: 0 10px;
        border-radius: 10px;
    }

    .btn-home {
        background-color: #EDE9E3;
        color: black;
        text-decoration: none;
        padding: 10px 20px;
    }
    .btn-home-mobile{
        background-color: #d9baa8;
        color: #000;
        font-size: 0.7rem !important;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 10px;
        transition: 0.8s !important;
    }
    .btn-home-mobile:hover{
        color: #fff !important;
        background-color: #927c6f;
        transition: 0.8s !important;
    }
    .title-home-anillos {
        font-family: 'Bodoni Moda';
    }

    .descripcion-home-anillos {
        font-size: 12px !important;
        color: #313131;
    }

    .home-medallones-mobile {
        display: block;
        height: 400px;
    }

    .descripcion-home-anillos {
        font-size: 1rem !important;
        margin-top: 0 !important;
    }

    .header-mobile {
        display: block;
        margin-top: -20px !important;

    }

    .desktop-header {
        display: none !important;
    }

    .footer-mobile {
        display: block;
        background-color: rgb(28, 43, 38);
        margin-bottom: 0 !important;
    }

    .footer-desktop {
        display: none;
    }
    .title-categories-mobile{
        font-family: 'Bodoni Moda';
        font-size: 1.3rem;
        color: #313131 !important;
    }
}