@import url('https://fonts.cdnfonts.com/css/bodar');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    padding-top: 100px;
}

.pink {
    background-color: rgb(187, 0, 178);
}

.shadow-img {
    filter: drop-shadow(0, 0, 10px rgba(0, 0, 0.0.8));
}

.title {
    font-family: 'bodar';
    font-size: 3em;
    font-weight: lighter;
    letter-spacing: 7px;
}

.title-promocion {
    font-size: 2.5em !important;
    font-weight: lighter;
    color: white;
    /* margin: 0 auto; */
}

.link {
    color: #000 !important;
    text-decoration: none !important;
    transition: 0.5s;
}

.link:hover {
    color: #fff !important;
    transition: 0.5s;

}

.text-about {
    font-size: 1.5rem !important;
    padding: 0 20px;
    text-align: justify;
}

.descripcion-promocion {
    margin-bottom: 10px !important;
    font-size: 1.5rem !important;
    color: white;
}

.btn-outline-call {
    background-color: #E7D7C9;
    padding: 20px 50px;
    text-decoration: none;
    color: black;
    border: 1px solid #E7D7C9;
    transition: 0.5s;
    /* margin: 0 auto; */
}

.btn-call {
    background-color: #E7D7C9;
    padding: 20px 50px;
    text-decoration: none;
    color: black;
    border: 1px solid #E7D7C9;
    margin-top: 2400px !important;
    transition: 0.5s;
}

.btn-outline-call:hover {
    background-color: #d5c3b2;
    border: 1px solid #d5c3b2;

}

.btn-call:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.text-brown {
    color: #938E87;
}

.swiper-slide {
    height: 100vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination {
    position: absolute !important;
    bottom: 10px !important;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.category-image {
    transition: opacity 0.5s ease-in-out;
}

.category-card:hover .category-image {
    opacity: 0.8;
}

.category-button {
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.category-card:hover .category-button {
    transform: scale(1.1);
}

.modal {
    position: fixed !important;
    z-index: 1050 !important;
}

.title-categories {
    font-family: 'bodar';
    font-size: 3em;
    font-weight: lighter;
    letter-spacing: 7px;
    margin: 80px 0;
}

.btn-shadow {
    transition: 0.8s;
}

.btn-shadow:hover {
    box-shadow: 0 8px 8px 0 rgb(220, 220, 220);
    transition: 0.8s;
}

.container-carousel {
    max-width: 100%;
    max-height: 350px;
}

.container-carousel .carousel-item img {
    max-height: 350px;
    object-fit: cover;
}

.mobile-only {}

.desktop-only {}

.container-carousel {}

@media (min-width:769px) {
    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: block;
    }
}

@media (max-width: 768px) {

    .swiper-pagination {
        bottom: 5px !important;
    }

    .btn-call {
       
    }

    .title {
        font-size: 2rem;
        margin-top: 20px;
    }

    .title-categories {
        font-size: 2.5rem;
        margin: 50px 0;
    }

    .image {
        max-height: 300px;
        margin-bottom: 20px;
    }

    .mobile-only {
        display: block;
    }

    .desktop-only {
        display: none;
    }
}